<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Manage">

	<!-- DB 컬럼명에 userDTO의 값 하나씩 대입 이름이 같으면 resultMap 생성하지 않아도 됨 -->
	<resultMap type="boardDTO" id="boardMap">
	<result column="board_state" property="boardState"/> 
	<result column="Location" property="location"/>
	<result column="board_no" property="boardNo"/>
	<result column="writer" property="writer"/>
	<result column="title" property="title"/>
	<result column="content" property="content"/>
	<result column="password" property="password"/>
	<result column="board_date" property="boardDate"/>
	<result column="board_reply" property="boardReply"/>
	<result column="start_Date" property="startDate"/>
	<result column="end_Date" property="endDate"/>	
	<result column="board_img0" property="boardImg0"/>
	<result column="board_img1" property="boardImg1"/>
	<result column="board_img2" property="boardImg2"/>
	<result column="board_img3" property="boardImg3"/>
	<result column="board_img4" property="boardImg4"/>
	<result column="board_img5" property="boardImg5"/>
	<result column="board_img6" property="boardImg6"/>
	<result column="board_img7" property="boardImg7"/>
	<result column="board_img8" property="boardImg8"/>
	<result column="board_img9" property="boardImg9"/>
</resultMap>


	<select id="ManageBoard" parameterType="hashmap" resultMap="boardMap">
		SELECT board_state boardState,
		board_no boardNo,
		title title,
		writer writer,
		to_char(board_date,'YYYY/MM/DD') as boardDate,
		content content,
		board_img0 boardImg0,
		board_img1 boardImg1,
		board_img2 boardImg2,
		board_img3 boardImg3
		FROM ( select rownum as rnum,board_state,board_no,title,board_date,writer,content,board_img0,board_img1,board_img2,board_img3
		FROM ( select board_state,board_no,title,board_date,writer,content,board_img0,board_img1,board_img2,board_img3
		FROM board
		WHERE Location='P'
		ORDER BY board_State,board_No+0 desc))
		WHERE rnum BETWEEN ((#{curPage}-1)*10)+1 AND #{curPage}*10
	</select>

	<select id="ManageBoardCount" resultType="int" parameterType="hashmap">
		select count(board_No)
		from board
		where location='P' 
	</select>
	
	<select id="ManageSelectBoard" parameterType="hashmap" resultMap="boardMap">
		SELECT board_state boardState,
		board_no boardNo,
		title title,
		writer writer,
		to_char(board_date,'YYYY/MM/DD') as boardDate,
		content content,
		board_img0 boardImg0,
		board_img1 boardImg1,
		board_img2 boardImg2,
		board_img3 boardImg3
		FROM ( select rownum as rnum,board_state,board_no,title,board_date,writer,content,board_img0,board_img1,board_img2,board_img3
		FROM ( select board_state,board_no,title,board_date,writer,content,board_img0,board_img1,board_img2,board_img3
		FROM board
		WHERE Location='P'
		and board_State=#{boardState}
		ORDER BY board_State,board_No+0 desc))
		WHERE rnum BETWEEN ((#{curPage}-1)*10)+1 AND #{curPage}*10
	</select>

	<select id="ManageSelectBoardCount" resultType="int" parameterType="String">
		select count(board_No)
		from board
		where location='P'and board_State=#{boardState}
	</select>
	
</mapper>