<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Shuttle">

<!-- DB 컬럼명에 userDTO의 값 하나씩 대입 이름이 같으면 resultMap 생성하지 않아도 됨 -->
<resultMap type="boardDTO" id="boardMap">
	<result column="board_state" property="boardState"/> 
	<result column="Location" property="location"/>
	<result column="board_no" property="boardNo"/>
	<result column="writer" property="writer"/>
	<result column="title" property="title"/>
	<result column="content" property="content"/>
	<result column="password" property="password"/>
	<result column="board_date" property="boardDate"/>
	<result column="board_reply" property="boardReply"/>
	<result column="start_Date" property="startDate"/>
	<result column="end_Date" property="endDate"/>	
	<result column="board_img0" property="boardImg0"/>
	<result column="board_img1" property="boardImg1"/>
	<result column="board_img2" property="boardImg2"/>
	<result column="board_img3" property="boardImg3"/>
	<result column="board_img4" property="boardImg4"/>
	<result column="board_img5" property="boardImg5"/>
	<result column="board_img6" property="boardImg6"/>
	<result column="board_img7" property="boardImg7"/>
	<result column="board_img8" property="boardImg8"/>
	<result column="board_img9" property="boardImg9"/>
</resultMap>


	<insert id="ShuttleInsert" parameterType="boardDTO" >
	INSERT INTO board(board_state,Location,board_no,writer,title,content,password,board_date,
	board_img0,board_img1,board_img2,board_img3,board_img4,board_img5,board_img6,board_img7,board_img8,board_img9) 
	VALUES('shuttle','P',(select ifnull(max(BOARD_NO+0),0)+1 from board a where board_state = 'shuttle'),#{writer},#{title},#{content},#{password},now(),
	'null','null','null','null','null','null','null','null','null','null')
	</insert>
	
	<select id="ShuttleList" resultMap="boardMap" parameterType="int" >
	SELECT
	board.board_no boardNo,
	board.writer as writer,
	board.title as title,
	DATE_FORMAT(board.board_date, '%Y/%m/%d') as boardDate,
	board.board_reply as boardReply
	FROM (SELECT @RNUM:=@RNUM+1 AS rnum , t.* FROM (SELECT @RNUM:=0) R, (SELECT board_no,writer,title,board_Date,board_reply
	FROM (SELECT board_no,writer,title,board_Date,board_reply
	from board
	where board_state='shuttle' and location='P'
	order by board_no+0 desc) a ) t) board
	where rnum  BETWEEN  ((#{curPage}-1)*10)+1  AND #{curPage}*10
	</select>
	
	<select id="ShuttleListCount" resultType="int">
	select count(board_no)
	from board
	where board_state='shuttle' and location='P'
	</select>
	
	<select id="prahaShuttlePasswordCheck" parameterType="boardDTO" resultMap="boardMap">
	SELECT *
	FROM board
	WHERE board_state='shuttle' and location='P' 
	and board_no=#{boardNo} and password=#{password}
	</select>
	
	<delete id="prahaShuttleDelete" parameterType="boardDTO">
	DELETE FROM board WHERE BOARD_NO=#{boardNo} AND board_state='shuttle' and location='P'
	</delete>
	
	<update id="prahaShuttleUpdate" parameterType="boardDTO">
	UPDATE board SET title=#{title},writer=#{writer},content=#{content}, password=#{password} 
	WHERE BOARD_NO=#{boardNo} AND board_state='shuttle' and location='P'
	</update>
</mapper>